* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

header {
  background: #222;
  padding: 1rem;
}

h2{
  font-size: 2rem;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.intro {
  padding: 2rem;
  text-align: center;
  background: #e3f2fd;
}

.intro-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  list-style: none;
}

.skills li {
  background: #90caf9;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.social {
  background: #c8e6c9;
  padding: 2rem;
  text-align: center;
}

.social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.social a {
  text-decoration: none;
  color: #2e7d32;
  font-weight: bold;
}

.projects {
  background: #212121;
  color: #fff;
  padding: 2rem;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background: #424242;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}